.contact-title {
  margin: 0 auto;
  width: 50%;
}
.content {
  background-color: azure;
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;

  .content-icons {
    display: flex;
    justify-content: center;

    img {
      margin: 1.2em;
    }
  }
  .content-texts {
    text-align: center;
  }
}
