.profile {
  margin: 32px 0;

  &-info {
    display: flex;
    width: 500px;
    min-height: 200px;

    .profile-avatar {
      margin: auto 10px;
      padding: 10px;
      width: 80px;
    }
    h3 {
      margin-left: 10px;
    }

    &-hobbies {
      margin-left: 20px;
      &-example {
        display: none;
        li {
          display: block;
        }
      }

      &:hover + &-example {
        display: block;
      }
    }
  }
}
